USE [master]
GO
/****** Object:  Database [HASTANE]    Script Date: 14.06.2020 14:20:43 ******/
CREATE DATABASE [HASTANE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HASTANE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HASTANE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HASTANE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HASTANE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HASTANE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HASTANE]
GO
/****** Object:  Table [dbo].[DOKTOR]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOKTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](50) NOT NULL,
	[SOYADI] [varchar](50) NOT NULL,
	[POLIKLINIK] [int] NOT NULL,
 CONSTRAINT [PK_DOKTOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HASTA]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HASTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](50) NOT NULL,
	[SOYADI] [varchar](50) NOT NULL,
	[CINSIYET] [varchar](10) NOT NULL,
	[YAS] [varchar](50) NOT NULL,
	[TC] [varchar](11) NOT NULL,
	[POLIKLINIK] [int] NOT NULL,
	[DOKTOR] [int] NOT NULL,
	[MEVCUTDURUM] [nchar](10) NULL,
 CONSTRAINT [PK_HASTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HASTAILAC]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HASTAILAC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HASTAID] [int] NULL,
	[ILACID] [int] NULL,
	[ADET] [int] NULL,
 CONSTRAINT [PK_HASTAILAC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ILAC]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ILAC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](50) NOT NULL,
	[ADET] [int] NOT NULL,
	[SERINO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ILAC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLIKLINIK]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLIKLINIK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](50) NOT NULL,
	[ADRES] [varchar](50) NULL,
 CONSTRAINT [PK_POLIKLINIK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOKTOR] ON 

INSERT [dbo].[DOKTOR] ([ID], [ADI], [SOYADI], [POLIKLINIK]) VALUES (2, N'Hale      ', N'Tekin     ', 1)
INSERT [dbo].[DOKTOR] ([ID], [ADI], [SOYADI], [POLIKLINIK]) VALUES (4, N'Mustafa   ', N'Yıldırım  ', 1)
INSERT [dbo].[DOKTOR] ([ID], [ADI], [SOYADI], [POLIKLINIK]) VALUES (5, N'İlber     ', N'Şengör    ', 2)
SET IDENTITY_INSERT [dbo].[DOKTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[HASTA] ON 

INSERT [dbo].[HASTA] ([ID], [ADI], [SOYADI], [CINSIYET], [YAS], [TC], [POLIKLINIK], [DOKTOR], [MEVCUTDURUM]) VALUES (2, N'İrfan', N'Arslan', N'Erkek', N'22', N'10129123672', 2, 7, NULL)
INSERT [dbo].[HASTA] ([ID], [ADI], [SOYADI], [CINSIYET], [YAS], [TC], [POLIKLINIK], [DOKTOR], [MEVCUTDURUM]) VALUES (3, N'a', N'a', N'Erkek', N'3', N'48949849849', 4, 17, NULL)
INSERT [dbo].[HASTA] ([ID], [ADI], [SOYADI], [CINSIYET], [YAS], [TC], [POLIKLINIK], [DOKTOR], [MEVCUTDURUM]) VALUES (5, N'Deneme', N'Deneme', N'Erkek', N'25', N'11111111111', 2, 7, N'Yatılı    ')
SET IDENTITY_INSERT [dbo].[HASTA] OFF
GO
SET IDENTITY_INSERT [dbo].[HASTAILAC] ON 

INSERT [dbo].[HASTAILAC] ([ID], [HASTAID], [ILACID], [ADET]) VALUES (1, 2, 1, 5)
INSERT [dbo].[HASTAILAC] ([ID], [HASTAID], [ILACID], [ADET]) VALUES (10, 2, 1, 0)
INSERT [dbo].[HASTAILAC] ([ID], [HASTAID], [ILACID], [ADET]) VALUES (11, 5, 1, 4)
SET IDENTITY_INSERT [dbo].[HASTAILAC] OFF
GO
SET IDENTITY_INSERT [dbo].[ILAC] ON 

INSERT [dbo].[ILAC] ([ID], [ADI], [ADET], [SERINO]) VALUES (1, N'Parol', 372, N'8788854')
INSERT [dbo].[ILAC] ([ID], [ADI], [ADET], [SERINO]) VALUES (3, N'Apranax', 1300, N'99999')
SET IDENTITY_INSERT [dbo].[ILAC] OFF
GO
SET IDENTITY_INSERT [dbo].[POLIKLINIK] ON 

INSERT [dbo].[POLIKLINIK] ([ID], [ADI], [ADRES]) VALUES (1, N'Acil Servis', N'Giriş Kat A Blok')
INSERT [dbo].[POLIKLINIK] ([ID], [ADI], [ADRES]) VALUES (2, N'Çocuk Doktoru', N'2.Kat A Blok')
INSERT [dbo].[POLIKLINIK] ([ID], [ADI], [ADRES]) VALUES (3, N'Kulak Burun Boğaz', N'2.Kat A Blok')
SET IDENTITY_INSERT [dbo].[POLIKLINIK] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HASTA]    Script Date: 14.06.2020 14:20:43 ******/
ALTER TABLE [dbo].[HASTA] ADD  CONSTRAINT [IX_HASTA] UNIQUE NONCLUSTERED 
(
	[YAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOKTOR]  WITH CHECK ADD  CONSTRAINT [FK_DOKTOR_POLIKLINIK] FOREIGN KEY([POLIKLINIK])
REFERENCES [dbo].[POLIKLINIK] ([ID])
GO
ALTER TABLE [dbo].[DOKTOR] CHECK CONSTRAINT [FK_DOKTOR_POLIKLINIK]
GO
ALTER TABLE [dbo].[HASTA]  WITH CHECK ADD  CONSTRAINT [FK_HASTA_DOKTOR] FOREIGN KEY([DOKTOR])
REFERENCES [dbo].[DOKTOR] ([ID])
GO
ALTER TABLE [dbo].[HASTA] CHECK CONSTRAINT [FK_HASTA_DOKTOR]
GO
ALTER TABLE [dbo].[HASTA]  WITH CHECK ADD  CONSTRAINT [FK_HASTA_POLIKLINIK] FOREIGN KEY([POLIKLINIK])
REFERENCES [dbo].[POLIKLINIK] ([ID])
GO
ALTER TABLE [dbo].[HASTA] CHECK CONSTRAINT [FK_HASTA_POLIKLINIK]
GO
ALTER TABLE [dbo].[HASTAILAC]  WITH CHECK ADD  CONSTRAINT [FK_HASTAILAC_HASTA] FOREIGN KEY([HASTAID])
REFERENCES [dbo].[HASTA] ([ID])
GO
ALTER TABLE [dbo].[HASTAILAC] CHECK CONSTRAINT [FK_HASTAILAC_HASTA]
GO
ALTER TABLE [dbo].[HASTAILAC]  WITH CHECK ADD  CONSTRAINT [FK_HASTAILAC_ILAC] FOREIGN KEY([ILACID])
REFERENCES [dbo].[ILAC] ([ID])
GO
ALTER TABLE [dbo].[HASTAILAC] CHECK CONSTRAINT [FK_HASTAILAC_ILAC]
GO
/****** Object:  StoredProcedure [dbo].[DOCTOR_Add]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DOCTOR_Add]
@ADI VARCHAR(50),
@SOYADI VARCHAR(50),
@POLID INT
AS

BEGIN

INSERT INTO DOKTOR (ADI,SOYADI,POLIKLINIK)
			VALUES (@ADI,@SOYADI,@POLID)

END


GO
/****** Object:  StoredProcedure [dbo].[DOKTOR_List]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[DOKTOR_List]
@POLID int
AS
BEGIN
SELECT d.ID ID ,D.ADI +' ' + D.SOYADI ADI FROM DOKTOR D WHERE POLIKLINIK=@POLID
END

GO
/****** Object:  StoredProcedure [dbo].[HASTA_Add]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HASTA_Add]
@ADI VARCHAR(50),
@SOYADI VARCHAR(50),
@CINSIYET VARCHAR(10),
@YAS VARCHAR(50),
@TC VARCHAR(11),
@POLID INT,
@DOKTORID INT,
@DURUM VARCHAR(20)
AS
BEGIN

INSERT INTO HASTA (ADI,SOYADI,CINSIYET,YAS,TC,POLIKLINIK,DOKTOR,MEVCUTDURUM)
		VALUES   (@ADI,@SOYADI,@CINSIYET,@YAS,@TC,@POLID,@DOKTORID,@DURUM)

END

GO
/****** Object:  StoredProcedure [dbo].[HASTA_ByID]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[HASTA_ByID]
@TC varchar(50)
AS
BEGIN
	SELECT H.ID,H.ADI, H.SOYADI,H.TC,H.YAS,H.CINSIYET,D.ADI+' '+D.SOYADI DOKTOR, p.ADI  FROM HASTA H INNER JOIN DOKTOR D ON H.DOKTOR=D.ID INNER JOIN POLIKLINIK P ON H.POLIKLINIK=P.ID WHERE H.TC=@TC

END

GO
/****** Object:  StoredProcedure [dbo].[HASTA_Delete]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HASTA_Delete]
@TC VARCHAR(11)
AS
BEGIN

	DELETE FROM HASTA  WHERE TC=@TC 

END

GO
/****** Object:  StoredProcedure [dbo].[HASTA_List]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HASTA_List]
AS
BEGIN
SELECT H.ID,H.ADI, H.SOYADI,H.TC,H.YAS,H.CINSIYET,D.ADI+' '+D.SOYADI DOKTOR, p.ADI POLIKLİNİK,H.MEVCUTDURUM FROM HASTA H INNER JOIN DOKTOR D ON H.DOKTOR=D.ID INNER JOIN POLIKLINIK P ON H.POLIKLINIK=P.ID
END

GO
/****** Object:  StoredProcedure [dbo].[HASTAILAC_Add]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HASTAILAC_Add]
@HASTAID int,
@ILACID int,
@ADET int
as
begin
INSERT INTO HASTAILAC (HASTAID,ILACID,ADET) VALUES (@HASTAID,@ILACID,@ADET)

UPDATE ILAC SET ADET=ADET-@ADET WHERE ILAC.ID=@ILACID

END





GO
/****** Object:  StoredProcedure [dbo].[HASTAILAC_ListByID]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HASTAILAC_ListByID]
@HASTAID int
AS
BEGIN

SELECT I.ADI ILAC, HI.ADET FROM HASTAILAC HI INNER JOIN HASTA H ON HI.HASTAID= H.ID INNER JOIN ILAC I ON HI.ILACID = I.ID WHERE HI.HASTAID=@HASTAID


END
GO
/****** Object:  StoredProcedure [dbo].[ILAC_Add]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ILAC_Add]
@ADI VARCHAR(50),
@ADET INT,
@SERINO VARCHAR(50)
AS
BEGIN

INSERT INTO ILAC (ADI,ADET,SERINO) VALUES (@ADI,@ADET,@SERINO)

END

GO
/****** Object:  StoredProcedure [dbo].[ILAC_Adet]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ILAC_Adet]
@ID INT
AS
BEGIN

SELECT I.ADET FROM ILAC I WHERE I.ID=@ID
END









GO
/****** Object:  StoredProcedure [dbo].[ILAC_ByAD]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ILAC_ByAD]
@ADI VARCHAR(50)
AS
BEGIN

SELECT * FROM ILAC I WHERE I.ADI=@ADI

END
GO
/****** Object:  StoredProcedure [dbo].[ILAC_Delete]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ILAC_Delete]
@ID INT
AS 
BEGIN

DELETE FROM ILAC WHERE ILAC.ID=@ID 

END

GO
/****** Object:  StoredProcedure [dbo].[ILAC_List]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ILAC_List]
AS
BEGIN

SELECT * FROM ILAC

END
























GO
/****** Object:  StoredProcedure [dbo].[POLI_Add]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[POLI_Add]
@ADI varchar(50),
@ADRES varchar(50)
AS
BEGIN

	INSERT INTO POLIKLINIK (ADI,ADRES)
				VALUES     (@ADI,@ADRES)

END
GO
/****** Object:  StoredProcedure [dbo].[POLIKLINIK_List]    Script Date: 14.06.2020 14:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[POLIKLINIK_List]
AS
BEGIN
SELECT * FROM POLIKLINIK
END

GO
USE [master]
GO
